.page {
  height: 100%;
  padding: 15px;
  overflow: hidden;
  // overflow-y: scroll;

  .page-title {
    font-size: 18px;
    font-weight: 400;
    font-family: Extra large;
    line-height: 40px;
    color: #2d3e50;
    border-bottom: 1px solid #DCDFE6;
    margin-bottom: 20px;
  }

  .page-content {
    width: 100%;
    height: 100%;
  }
}
